@font-face {
  font-display: swap;
  font-family: 'Poppins-black';
  font-weight: 900;
  font-style: normal;
  src: url('../../fonts/Poppins-Black.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins-semibold';
  font-weight: 600;
  font-style: normal;
  src: url('../../fonts/Poppins-SemiBold.ttf') format('truetype');
}
